extends ../layout

block content
	.container
		.span10
			#wrap-recoverpass
				h3 Ingresa nueva contrase単a
				- if (typeof message !== undefined){
					- if(message.length){
						h4.alert.alert-info= message
					- }
				- }
			
				form(action="/changepassword", method="post")
					label Nueva contrase単a
					input(type="text" ,name="pass1")
					label Repite contrase単a
					input(type="text" ,name="pass2")
					input(type="hidden" ,name="id",value="#{id}")
					input(type="hidden" ,name="key",value="#{key}")
					button.btn.btn-danger Cambiar contrase単a
					a(href="/", style="display:block;margin-top:10px") Login